.section{
    background: url('../../../public/img/banner7.jpg') no-repeat;
    background-size: cover;
    text-align: center;
}

.depoiment{
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
}

.text{
    color: white;
    margin: 0 auto;
    width: 72%;
}

.text h2 {
    font-size: 40px;
    padding-top: 90px;
    padding-bottom: 20px ;
}

.text p {
    font-size: 20px;
    padding-bottom: 20px ;
}

.comment{
    background-color: white;
    width: 10em;
    height: 12em;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    color: #666;
    margin-bottom: 15px;
}


.avatar img{
    width: 100px;
    border: 1px solid rgb(230, 228, 228);
    border-radius: 100px;
}

.avatar span{
    display: block;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}