.main {
    text-align: center;
}
.main section{
    padding-top: 150px;
    width: 80%;
    margin: 0 auto;
}

.main h1 {
    color: #666;
    font-size: 40px;
}

.main form{
    margin: 0 auto;
    justify-content: space-evenly;
    border-top: 5px solid #0000e6;
    background-color: #3381f3;
    height: 6em;
    display: flex;
    align-items: center;
}

.main form button, .main form input, .main form select {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 45px;
    margin-right: 2%;

}

.main form button {
    background-color: white;
    color: #3381f3;
    text-transform: uppercase;
}

.main form button:hover {
    background-color: #3381f3;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
}


.main fieldset {
    border: 1px solid rgb(192, 190, 190);
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    color: #666;
    font-size:20px;
}

.main fieldset div{
    width: 100%;
}

.middle {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

@media only screen and (max-width: 700px) {
    .main section{
        width: 80%;
    }

    .main form  {
       display: block;
       height: 20em;
       padding-top: 10px;

    }
    .main form button, .main form input, .main form select {
        width: 70%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
  
}