.header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.header .logo {
  background: url('../../../public/img/logo.png') no-repeat;
  background-position: left top;
  background-size:contain;
  width: 100%;
  height: 100%;
  margin-top: 25px;
  padding-left: 40px;
}
.logodiv{
  width: 10%;
}
.header_content {
  display: flex;
  justify-content: space-between;
}

.navigation nav,
.navigation button {
  text-align: center;
  height: 50px;
  margin-top: 25px;
}

.navigation button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #666;
  color: #666;
  font-size: 20px;
  display: none;
  cursor: pointer;
}

.navigation button:hover {
  background-color: rgb(1, 210, 224);
  border: 1px solid #666;
  color: white;
  transition: all 0.6s;
}

.navigation ul {
  line-height: 100px;
  width: 90%;
  text-align: end;
}

.navigation li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}

.navigation a {
  text-decoration: none;
  color: #666;
  transition: 0.5s;
}

.navigation a:hover {
  color: #33f3d3;
}

@media only screen and (max-width: 700px) {
  .navigation button {
    display: block;
    text-align: end;
    margin-right: 40px;
  }
  .navigation button:hover {
    background-color: rgb(190, 22, 22);
  }

  .navshowing {
    display: inline-block;
    background-color: #4777c0;
    width: 300px;
    padding-bottom: 100px;
    padding-top: 30px;
    transition: 0.5s;
    border-radius: 5px;
  }

  .navshowing li {
    display: block;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;


  }

  .navshowing li a {
    color: white;
  }

  .notshow {
    display: none;
    transition: 0.5s;
  }
}
