.banner {
    background: url('../../public/img/banner6.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55%;
    margin-top: 100px;
    position:relative;
}

.form {
    position: relative;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.form h1{
    color: #666;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
}

.form p {
    color: #666;
}

.form input {
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px;
    font-size: 20px;
}

.form input[type='submit'] {
    background-color: blue;
    color: white;
}

.form select{
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px;
    font-size: 20px;

}
