.header nav {
        position: fixed;
        top: 0;
        height: 100px;
        width:  100%;
        z-index:  1;
        background-color:  #fff;
        border-bottom:  1px solid #ccc;     
}

.header nav div{
        position: relative;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
}

.header nav div img{
    width: 50px;
    height:  50px;
    margin-top:  25px;
}

.header nav div ul {
        line-height: 100px;
}

.header nav div li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

.header nav li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
}

.header li a:hover{
    color: #3381f3;
}
